
.logout-button {
  background: none;
  border: none;
  color: #00008d; /* 💡 텍스트 컬러 수정: 진한 파란색 또는 --primary 변수 사용 */
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 0;

}

.div-wrapper {
  background-color: #00008d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .div {
  background-color: #00008d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: var(--neutral-2);
  width: 1920px;
  height: 116px;
  position: relative;
}

.div-wrapper .group {
  position: absolute;
  width: 147px;
  height: 38px;
  top: 38px;
  left: 34px;
}

.div-wrapper .vector {
  position: absolute;
  width: 40px;
  height: 23px;
  top: 0;
  left: 0;
}



.div-wrapper .auto-layout {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 34px;
  right: 40px;
}

.div-wrapper .style-filled {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--secondary);
  border-radius: 50px;
  overflow: hidden;
}

.div-wrapper .do-something {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--neutral-0);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  white-space: nowrap;
  font-style: var(--body-small-font-style);
}
