<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="box">
      <div class="group">
        <div class="view">
          <div class="overlap">
            <div class="side-navigation-bar">
              <div class="frame">
                <div class="div">
                  <div class="home">마이페이지</div>
                  <img class="img" src="img/cog.png" />
                  <img class="chevron-right" src="img/chevron-right.svg" />
                </div>
                <div class="div">
                  <div class="home">환경설정</div>
                  <img class="img" src="img/logout.png" />
                  <img class="chevron-right" src="img/chevron-right.svg" />
                </div>
              </div>
            </div>
            <img class="icon" src="img/image.svg" />
            <div class="div-wrapper"><div class="text-wrapper">정서윤</div></div>
            <div class="group-2">
              <img class="user-circle" src="img/user-circle.svg" />
              <div class="group-3">
                <div class="overlap-group">
                  <div class="side-navigation-item">
                    <div class="home-2">데일리 루틴</div>
                    <img class="img-2" src="img/calendar.svg" />
                    <img class="chevron-right" src="img/image.png" />
                  </div>
                  <img class="icon-2" src="img/icon-3.svg" />
                </div>
                <img class="icon-3" src="img/icon-4.svg" />
              </div>
              <div class="overlap-2">
                <div class="side-navigation-item">
                  <div class="home-2">기술 면접 질문</div>
                  <img class="img-2" src="img/calendar.svg" />
                </div>
                <img class="icon-2" src="img/icon.svg" />
              </div>
              <div class="overlap-3">
                <div class="side-navigation-item-2">
                  <div class="home-3">투두 리스트</div>
                  <img class="img-2" src="img/collection.svg" />
                  <img class="chevron-right" src="img/chevron-right.png" />
                </div>
                <img class="icon-2" src="img/icon-2.svg" />
              </div>
            </div>
            <img class="icon-4" src="img/icon-5.svg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
