<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/sidenav/admin/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/sidenav/admin/style.css}" />
  <link rel="stylesheet" th:href="@{/css/sidenav/admin/styleguide.css}" />
</head>
<body>
<div th:fragment="sidebar">
  <div class="box">
    <img class="user-circle" th:src="@{/img/user-circle.png}" />
    <div class="text-wrapper">ADMIN</div>
    <div class="side-navigation-bar">
      <div class="frame">
        <div class="nav-item" onclick="location.href='/admin/users'">
          <div class="nav-icon-text">
            <img class="img" th:src="@{/img/users.png}" />
            <button class="nav-link-button">회원 관리</button>
          </div>
          <img class="chevron-right" th:src="@{/img/chevron.png}" />
        </div>

        <div class="nav-item" onclick="location.href='/admin/contents'">
          <div class="nav-icon-text">
            <img class="img" th:src="@{/img/pencil-alt.png}" />
            <button class="nav-link-button">컨텐츠 관리</button>
          </div>
          <img class="chevron-right" th:src="@{/img/chevron.png}" />
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>