<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/sidenav/admin/globals.css}" />
  <link rel="stylesheet" th:href="@{/css/sidenav/admin/style.css}" />
  <link rel="stylesheet" th:href="@{/css/sidenav/admin/styleguide.css}" />
</head>
<body>
<div th:fragment="sidebar">
  <div class="box">
    <div class="group">
      <div class="view">
        <div class="overlap">
          <div class="side-navigation-bar">
            <div class="frame">
              <div class="div">
                <button class="home nav-link-button" onclick="location.href='/admin/manage-users'">회원 관리</button>
                <img class="img" th:src="@{/img/users.png}" />
                <img class="chevron-right" th:src="@{/img/chevron.png}" />
              </div>
              <div class="div">
                <button class="home nav-link-button" onclick="location.href='/admin/question-list'">컨텐츠 관리</button>
                <img class="img" th:src="@{/img/pencil-alt.png}" />
                <img class="chevron-right" th:src="@{/img/chevron.png}" />
              </div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="text-wrapper">ADMIN</div>
          </div>
          <div class="group-2">
            <img class="user-circle" th:src="@{/img/user-circle.png}" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>