:root {
  --primary: rgba(0, 0, 141, 1);
  --accent: rgba(220, 243, 67, 1);
  --secondary: rgba(171, 195, 255, 1);
  --background: rgba(250, 252, 251, 1);
  --button: rgba(59, 130, 246, 1);
  --modal: rgba(237, 237, 247, 1);
  --sidenavselected: rgba(238, 241, 244, 1);
  ---font-family: "Inter", Helvetica;
  ---font-weight: 400;
  ---font-size: 12px;
  ---letter-spacing: 0px;
  ---line-height: normal;
  ---font-style: normal;
}
